<!doctype html>
%html
    %head
        = partial "/layouts/main_scripts"
    %body{:class => page_classes}
        = partial "/layouts/candidate/main_menu"
        /end menu
        = partial "shared/alert"

        = yield
        /end main content
        = partial "layouts/candidate/footer"
        /end footer